{% extends 'base.html' %}
{% block body %}

<div class="container mt-2">
          <div class="row">
                    <div class="col-md-8">
                              <h2 class ="text-center mt-5 " ><strong style="color: rgb(2, 133, 255);">Ajouter une situation</strong></h2>
                              
                              <form class="Prt9" action="" method="POST" enctype="multipart/form-data"><br>
                                        {% csrf_token %}
                                        {{form}}

                                        <button class="btn btn-warning  mt-5 Prt9">Enregistrer</button>
                              </form>
                              
                              
                    </div>
          </div>
</div>

{% endblock %}