{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}

<div class="container mt-2">    
    <div class="row">
        <div class="title">{{title}}</div>
            <div class="col-md-12 mt-2 text-center">
                <hr class=""style="height: 20px;"  >
                <a href="{% url 'add-pub' %}" class="text-center"><strong>Ajouter un rapport</strong></a>
                    <br>
                    <hr class=""style="height: 20px;"  >
                

            </div>
            <div class="title mt-2" style="color: black;font-size: 18px;" >Nombre de rapports : ({{ compte }})</div>
            <main role="main" class="container mt-2">
<div class="geeet">
                <div class="">
                  <a  class="btn btn-info mt-2" style="padding: 5%; margin-left: 25%">Recherche</a>  
                  <hr>
                  <form class="Prt9 mt-2" method='POST' action=''>{% csrf_token %}
                    {{form|crispy}}
                    <input class="mt-2" type="submit" value='Chercher' />
                </div>
                       
                </form>
            </div>  
             <div class="text-center">
                {% include "pagination.html" %}
                <a href="{% url 'export_Article' %}" class="btn btn-warning mt-5 me-5 text-center" role="button">Exporter</a>
             </div>   
            <div class="col-md-12 mt-2 me-5" >
                
                <h2 class="text-center" href ="{% url 'my-articles' %}"></h2>
                {% if list_articles %}
                <div class="card" style="background-color: rgb(243, 224, 202);">
                    <div class="card-body">
                        <table class="table table-bordered border-danger">
                            <thead>
                            <tr class="h4">
                                <th>User</th>
                                <th>Date</th>
                                <th>Domaine</th>
                                <th>Travaux realisés</th>                                
                                <th>Action</th>
                               
                            </tr>
                            </thead>
                            <tbody>
                          
                            {% for item in items %}
                            <tr>
                                {% language 'fr' %}
                                <td class="text-danger"><a href="{% url 'bilan' item.id %}"><strong>{{item.user}}</strong> </a></td> 
                                <td class="text-danger"><a href="{% url 'bilan' item.id %}"><strong>{{item.date}}</strong> </a></td>                                
                                <td class=""><a href="{% url 'bilan' item.id %}"><strong>{{item}}</strong></a></td>
                                <td class=""><a href="{% url 'bilan' item.id %}"><strong>{{item.description|truncatewords:5}}</strong></a></td>                                                                
                                
                                <td>
                                    {% if item.user == user %}
                                    <a href="{% url 'update-article' item.pk %}" class="me-2"><img src="{% static 'img/edite.png' %}">
                                        </a>

                                    <a href="{% url 'delete-article' item.pk %}" class="me-2"><img src="{% static 'img/deletoe.png' %}">
                                        </a>

                                        {% endif %}
                                </td>
                                
                                {% endlanguage %}
                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% else %}
                <h3 class="text-center" style="color: green;font-size: 150%;">Vous n'avez aucun rapport</h3>
                {% endif %}
            </div>
        </main>

        </div>
    </div>
</div>



<br/>

{% endblock %}